<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
     <style>
        #myTable_filter input[type="search"] {
            text-align: right;
        }
    </style>
</head>
<body>
<div style="font-family: Courier New, monospace;" class="container">

    <main>

        <section style="width: 100%; float: left;">
            <h1>Consulta de Carros</h1>
            <table class="table" id="myTable">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Origen</th>
                    <th scope="col">Combustible</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Año</th>
                    <th scope="col">Nro. Serie</th>
                    <th scope="col">Imagen</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="c : ${lstCarros}">
                        <th scope="row" th:text="${c.id}"></th>
                        <td th:text="${c.modelo}"></td>
                        <td th:text="${c.origen}"></td>
                        <td th:text="${c.combustible}"></td>
                        <td th:value="${c.objMarca.idmarca}" th:text="${c.objMarca.descripcion}"></td>
                        <td th:text="${c.precio}"></td>
                        <td th:text="${c.stock}"></td>
                        <td th:text="${c.anio}"></td>
                        <td th:text="${c.nrserie}"></td>
                        <td><img th:src="@{'/imgs/carros/' + ${c.id} + '.png'}" alt="70" width="60"></td>
                    </tr>

                </tbody>
            </table>
        </section>
    </main>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<script
        src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            "language" : {
                "lengthMenu" : "Mostrando _MENU_ ",
                "zeroRecords" : "No hay registros a mostrar",
                "info" : "Página _PAGE_ de _PAGES_",
                "infoEmpty" : "No records available",
                "infoFiltered" : "(filtered from _MAX_ total records)"
            }
        });
    });
</script>
</html>