<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
</head>
<body>
<div style="font-family: Courier New, monospace;" class="container">

    <main>
        <section style="width: 75%; float: left;">
            <h1>Consulta de Clientes</h1>
            <table class="table" id="myTable">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Dni</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Telefono</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="cl : ${lstCliente}">
                        <th scope="row" th:text="${cl.idCli}"></th>
                        <td th:text="${cl.dni}"></td>
                        <td th:text="${cl.nom}"></td>
                        <td th:text="${cl.ape}"></td>
                        <td th:text="${cl.dir}"></td>
                        <td th:text="${cl.correo}"></td>
                        <td th:text="${cl.tel}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script
        src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            "language" : {
                "lengthMenu" : "Mostrando _MENU_ ",
                "zeroRecords" : "No hay registros a mostrar",
                "info" : "Pag _PAGE_ de _PAGES_",
                "infoEmpty" : "No records available",
                "infoFiltered" : "(filtered from _MAX_ total records)"
            },
            "columns": [
                { "data": "idCli" },
                { "data": "dni" },
                { "data": "nom" },
                { "data": "ape" },
                { "data": "dir" },
                { "data": "correo" },
                { "data": "tel" }
            ]
        });
    });
</script>
</html>