<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
	<h1 style="text-align: center; font-family: Courier New, monospace; font-size: 50px;">Mantenimiento Carros</h1>
	<br>
	<div style="font-family: Courier New, monospace;" class="d-flex">
		<div class="card col-sm-4">
			<div class="card-body">
				<form action="/carro/agregar" method="post" th:object="${carro}">

					<input style="display: none" type="text" name="txtId" id="txtId"
						class="form-control" th:field="*{id}">

					<div class="form-group">
						<label for="">Descripcion</label> <input type="text"
							name="txtDescripcion" id="txtDescripcion" class="form-control"
							th:field="*{descripcion}">
					</div>
					<div class="form-group">
						<label for="">Modelo</label> <input type="text"
							name="txtModelo" id="txtModelo" class="form-control"
							th:field="*{modelo}">
					</div>
					<div class="form-group">
						<label for="inputMarca">Marca</label> <select id="inputMarca"
							name="cboMarca" th:field="*{objMarca}" class="form-control">
							<option value="-1">Seleccione...</option>
							<option th:each="m : ${lstMarca}" th:value="${m.idmarca}"
								th:text="${m.descripcion}"></option>
						</select>
					</div>

					<div class="form-group">
						<label for="">Origen</label> <input type="text" name="txtOrigen"
							th:field="*{origen}" class="form-control" value="">
					</div>

					<div class="form-group">
						<label for="">Combustible</label> <input type="text"
							name="txtCombustible" th:field="*{combustible}"
							class="form-control" value="">
					</div>

					<div class="form-group">
						<label for="">Precio</label> <input type="text" step="0.01"
							pattern="[0-9]+([.][0-9]{1,2})?" name="txtPrecio"
							th:field="*{precio}" class="form-control" value="">
					</div>

					<div class="form-group">
						<label for="">Stock</label> <input type="number"
							pattern="[1-9]+[0-9]*" name="txtStock" th:field="*{stock}"
							class="form-control" value="">
					</div>
					
					<div class="form-group">
						<label for="">Año</label> <input type="number"
							pattern="[0-9]{4}" name="txtAnio" th:field="*{anio}"
							class="form-control" value="">
					</div>
					
					<div class="form-group">
						<label for="">Nro. de Serie</label> <input type="text"
							pattern="^[A-Z0-9]{17}$" name="txtNroSerie" th:field="*{nrserie}"
							class="form-control" value="">
					</div>
					
					<input style="display: none" type="text" name="txtMarca"
						id="txtMarca" class="form-control" th:field="*{objMarca}">
					<button type="submit" class="btn btn-info">Agregar</button>
					<button type="submit" class="btn btn-success">Actualizar</button>

				</form>
				<br>
				<div class="alert alert-danger" role="alert" th:if="${mensaje2}"
					th:text="${mensaje2}"></div>
				<br>
				<div class="alert alert-info" role="alert" th:if="${mensaje}"
					th:text="${mensaje}"></div>
			</div>
		</div>
		<div class="col-sm-8">
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						<th></th>
						<th>DESCRIPCIÓN</th>
						<th>MODELO</th>
						<th>ORIGEN</th>
						<th>COMBUSTIBLE</th>
						<th>MARCA</th>
						<th>PRECIO</th>
						<th>STOCK</th>
						<th>AÑO</th>
						<th>NRO. SERIE</th>
						<th>ACCIONES</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c : ${lstCarros}">
						<th scope="row" th:text="${c.id}"></th>
						<td th:text="${c.descripcion}" align="justify"></td>
						<td th:text="${c.modelo}"></td>
						<td th:text="${c.origen}"></td>
						<td th:text="${c.combustible}"></td>
						<td th:text="${c.objMarca.descripcion}"></td>
						<td th:text="${c.precio}"></td>
						<td th:text="${c.stock}"></td>
						<td th:text="${c.anio}"></td>
						<td th:text="${c.nrserie}"></td>
						<td>
							<div style="display: flex">
								<form method="get" th:action="@{/cargaActualizarCarro}">
									<input type="hidden" name="Id" th:value="${c.id}">
									<button style="border: none; position: relative;">
										<i class="bi bi-pencil-square"></i>
									</button>
								</form>

								<form method="get" th:action="@{/eliminarCarro}">
									<input type="hidden" name="Id" th:value="${c.id}">
									<button style="border: none; margin-top: -30px; right: 55px;">
										<i class="bi bi-trash"></i>
									</button>
								</form>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous">

</script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous">

</script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous">

</script>
</body>
</html>